.percentage-circle__wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #222;
  --deg: 0deg;
}

.percentage-circle__wrap .circle .mask,
.percentage-circle__wrap .circle .fill {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
}

.percentage-circle__wrap .circle .mask {
  clip: rect(0px, 50px, 50px, 25px);
}

.percentage-circle__wrap .circle .mask .fill {
  clip: rect(0px, 25px, 50px, 0px);
  background-color: #1DB954;
}

.percentage-circle__wrap .circle .mask.full,
.percentage-circle__wrap .circle .fill {
  animation: fill ease-in-out 2s;
  transform: rotate(var(--deg, 0deg));
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--deg, 0deg));
  }
}
.percentage-circle__wrap .inside-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #000;
  line-height: 44px;
  text-align: center;
  margin-top: 3px;
  margin-left: 3px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 1.5em;
}

.artist-page__header {
  display: grid;
  gap: 15px 15px;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 150px max-content min-content;
  grid-template-areas: ". img popularity" "name name name" "genres genres genres";
}
@media (min-width: 600px) {
  .artist-page__header {
    grid-template-columns: 100px auto 100px;
  }
}
@media (min-width: 767px) {
  .artist-page__header {
    grid-template-columns: 150px 3fr min-content;
    grid-template-rows: 75px 75px;
    grid-template-areas: "img name popularity" "img genres genres";
  }
}

.artist-page__img {
  grid-area: img;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.artist-page__name {
  grid-area: name;
  align-self: start;
  justify-self: center;
}
@media (min-width: 767px) {
  .artist-page__name {
    justify-self: start;
    align-self: end;
  }
}

.percentage-circle__wrap {
  grid-area: popularity;
  align-self: start;
  justify-self: end;
}
@media (min-width: 767px) {
  .percentage-circle__wrap {
    align-self: end;
  }
}

.artist-page__genres {
  grid-area: genres;
  align-self: start;
  justify-self: center;
}
@media (min-width: 767px) {
  .artist-page__genres {
    justify-self: start;
  }
}

.dashboard-stats-container {
  display: flex;
  flex-direction: column;
  gap: 15px 15px;
  width: 100%;
  padding: 30px 15px;
}
@media (min-width: 767px) {
  .dashboard-stats-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: "playlists artists" "playlists songs" "playlists recents";
  }
}
@media (min-width: 1100px) {
  .dashboard-stats-container {
    grid-template-columns: 1fr 3fr;
  }
}

.dashboard-stats__panel {
  padding: 15px;
  background-color: black;
  border-radius: 20px;
  overflow: hidden;
}

.dashboard-stats-panel__time-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 7px;
}

.dashboard-stats__playlists {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
@media (min-width: 767px) {
  .dashboard-stats__playlists {
    max-height: 100vh;
    grid-area: playlists;
  }
}

@media (min-width: 767px) {
  .dashboard-stats__artists {
    grid-area: artists;
  }
}

@media (min-width: 767px) {
  .dashboard-stats__songs {
    grid-area: songs;
  }
}

@media (min-width: 767px) {
  .dashboard-stats__recently-played {
    grid-area: recents;
  }
}

.playlists__list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  column-gap: 7px;
}
@media (min-width: 767px) {
  .playlists__list {
    flex-direction: column;
    overflow-x: unset;
    overflow-y: auto;
    column-gap: unset;
    row-gap: 7px;
  }
}

.playlist-item {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: 100px min-content;
  grid-template-areas: "thumbnail" "data";
  grid-gap: 7px;
  cursor: pointer;
}
@media (min-width: 767px) {
  .playlist-item {
    grid-template-columns: 100px 1fr;
    grid-template-rows: min-content;
    grid-template-areas: "thumbnail data";
  }
}

.playlist-item__label {
  grid-area: data;
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  .playlist-item__label {
    margin: auto 0;
  }
}

.playlist-item__liked-songs-thumbnail {
  grid-area: thumbnail;
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 50px 50px;
}

.playlist-item__thumbnail {
  grid-area: thumbnail;
  height: 100px;
  width: 100px;
}

.dashboard-stats-panel__header {
  display: flex;
  justify-content: space-between;
  padding: 7px 0 15px;
}

.dashboard-stats-panel__icon-title {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.dashboard-stats-panel__right-panel-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: clip;
  column-gap: 7px;
}

.dashboard-stats-panel__list-item {
  cursor: pointer;
}
@keyframes growImage {
  0% {
    transform: scale(1); /* Initial scale */
  }
  25% {
    transform: scale(1.2); /* Grow to 1.5 scale at 50% of animation */
  }
  50% {
    transform: scale(1.1); /* Settle at 1.2 scale at the end of the animation */
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes shiftTextDown {
  0% {
    transform: translateY(0); /* Initial scale */
  }
  25% {
    transform: translateY(12px); /* Grow to 1.5 scale at 50% of animation */
  }
  50% {
    transform: translateY(10px); /* Settle at 1.2 scale at the end of the animation */
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes shiftRankCircle {
  0% {
    transform: translate(0, 0); /* Initial scale */
  }
  25% {
    transform: translateY(-5px, -5px); /* Grow to 1.5 scale at 50% of animation */
  }
  50% {
    transform: translateY(-3px, -3px); /* Settle at 1.2 scale at the end of the animation */
  }
  100% {
    transform: translateY(-3px, -3px);
  }
}
.dashboard-stats-panel__list-item img {
  animation: none;
  transform-origin: 0 0;
}
.dashboard-stats-panel__list-item .dashboard-stats-panel__list-item-text {
  animation: none;
}
.dashboard-stats-panel__list-item .dashboard-stats-panel__list-item-rank-circle {
  z-index: 5;
  animation: none;
}
.dashboard-stats-panel__list-item:hover img {
  animation: growImage 1s ease-in-out;
  transform: scale(1.1);
}
.dashboard-stats-panel__list-item:hover .dashboard-stats-panel__list-item-text {
  animation: shiftTextDown 1s ease-in-out;
  transform: translateY(10px);
}
.dashboard-stats-panel__list-item:hover .dashboard-stats-panel__list-item-rank-circle {
  animation: growImage 1s ease-in-out;
  transform: scale(1.2);
}